nav.bg-gray-800.border-gray-200.px-2.sm:px-4.py-2.5
  .container.flex.flex-wrap.justify-between.items-center.mx-auto
    = link_to "1月1日に今年まずやってみることを決めるだけのアプリ", "/", class: "self-center text-white text-xl font-semibold whitespace-nowrap"
  .w-full.md:block.md:w-auto
